{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{%endblock title %} 

{% block content %}
  <div class="section">
  
  {% if usuario %}
    <div class="row">
      <img class="round" style="width: 40px;height: 40px;" src="{% static 'core/img/user.png' %}">
      <h5> Bem vindo Sr(a) {{ usuario }} </h5>
    </div>
  {% endif %}  
    <div class="row">
                <h5>
            Aguarde só mais um pouquinho, Estamos preparando sistema de gestão intuitivo e moderno que oferece resultado para sua empresa. Além de aumentar o controle você também poderá acessar relatórios e gráficos(dashboards) capazes de mudar completamente a perspectiva de seu negócio.
          </h5>
      
    </div> 
  <div class="row">
    <div class="col s12 m4"></div>
    <div class="col s12 m4">
      <div class="card-panel white" style="width: 320px; height: 320px;">
           <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_dl87KC.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>  
      </div>
    </div>
    <div class="col s12 m4"></div>
  </div>
  
  </div>
{% endblock content %}