{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/login.css'  %}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/materialize.min.css' %}">


<div class="section"></div>
  <main>
    <center>
      <img class="responsive-img" style="width: 200px;" src="{% static 'core/img/logo-site-prever.png' %}" />
      <div class="section"></div>
          
      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
          
          <h5 class="indigo-text">Entre com seu usuário e senha</h5>  
          
          <form class="col s12" method="post">
            {% csrf_token %}
            
            <div class='row'>
              <div class='col s12'>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' name='usuario' id='usuario' />
                <label for='usuario'>Entre com nome de usuário</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' name='password' id='password' />
                <label for='password'>Entre com sua senha</label>
              </div>
              <label style='float: right;'>
			    <a class='indigo-text' href='#!'><b>Esqueceu a senha?</b></a>
			  </label>
              <label style='float: left;'>
                <a class="green-text" href="#!"><b>Criar uma conta</b></a>
              </label>
            </div>

            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Entrar</button>
              </div>
            </center>
          </form>
        </div>
      </div>
      
    </center>

   
    
  </main>

 


<script src="{% static 'core/js/materialize.min.js' %}"></script>
<script src="{% static 'core/js/login.js' %}"></script>

